.footer__info {
  h3 {
    font-size: 1.3rem;
    margin-bottom: $m1;
    color: $white;
  }

  div {
    @extend .flex-center;
    justify-content: flex-start;
    gap: 10px;

    span {
      @extend .flex-center;
      max-width: 450px;
    }
  }
}
