.container {
  max-width: 1200px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 2.5rem;
  align-items: center;
  justify-content: space-between;
}
.section {
  margin-top: 100px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  line-height: 1;
  font-size: 1.1rem;
  border-radius: 3px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.btn-white {
  background-color: $white;
  color: $black;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.btn__blue {
  background-color: $primary;
  color: $white;

  &:hover {
    background-color: $primary-alt;
    color: $white;
  }
}

.single__shadow {
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.property__heading {
  font-size: 1.2rem;
  color: $black;
  font-weight: 400;
  padding-bottom: $p3;
  border-bottom: 1px solid #ccc;
  margin-bottom: $m4;
}
