$white: #fff;
$black: #000000;
$primary: #0268c7;
$primary-alt: #0073e1;
$body-text: #5c727d;

/* =============== margin  =============== */
$m1: 0.5rem;
$m2: 1rem;
$m3: 1.5rem;
$m4: 2rem;
$m5: 2.5rem;
$m6: 3rem;
$m7: 3.5rem;
$m8: 4rem;
$m9: 4.5rem;
$m10: 5rem;

/* =============== padding =============== */

$p1: 0.5rem;
$p2: 1rem;
$p3: 1.5rem;
$p4: 2rem;
$p5: 2.5rem;
$p6: 3rem;
$p7: 3.5rem;
$p8: 4rem;
$p9: 4.5rem;
$p10: 5rem;
