.cta {
  margin-bottom: 60px;
  &__container {
    background-color: $primary;
    border-radius: 16px;
    color: $white;
    padding: $p8 $p4;
    @extend .grid;
    grid-template-columns: 2fr 1fr;
    @include md {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__text {
    h2 {
      font-size: 1.8rem;
    }
    p {
      max-width: 670px;
    }
  }
  &__btn {
    text-align: center;
  }
}
