.filter_active {
  background-color: #344864 !important;
}
.filter {
  h2 {
    font-size: 1.2rem;
    color: $black;
    font-weight: 400;
    letter-spacing: 1px;
  }
  &__buttons {
    margin-top: $m1;
    button {
      font-size: 15px;
      padding: $p1 $p2;
      color: $white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      text-transform: capitalize;
      background-color: $primary;
      transition: all 0.3s ease;
      &:not(:first-child) {
        margin-left: $m2;
      }
      &:hover {
        background-color: $primary-alt;
      }
    }
  }
}
.listing__card__container {
  cursor: pointer;
  margin-top: 60px;
  @extend .grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 320px));
  justify-content: center;

  .listing__card {
    background-color: $white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

    .listing__card__head {
      width: 100%;
      max-height: 272px;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.3s ease-in-out;

        &:hover {
          filter: brightness(0.8);
          transform: scale(1.2);
        }
      }
    }
    .listing__card__body {
      padding: 1rem;

      p {
        font-size: 13px;
      }
      h3 {
        font-size: 1.2rem;
        color: $black;
      }
      .price {
        font-size: 1rem;
        font-weight: 600;
        color: $primary;
      }

      .listing__card__info {
        margin: $m1 0;
        @extend .flex-center;
        justify-content: flex-start;
        gap: 20px;
        div {
          @extend .flex-center;
          gap: 10px;
          span {
            @extend .flex-center;
          }
        }
      }
    }
  }
}
