html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: $body-text;
  margin-top: 94px;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
}
