/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  text-align: center;
  color: $black;

  img {
    width: 100%;
  }

  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;

    h1 {
      font-size: 4rem;
      text-align: center;
    }
  }
}

.contant_box_404 {
  h3 {
    font-size: 1.5rem;
  }
  p {
    margin-bottom: $m3;
  }
}
