@import "./navlinks.scss";
.header {
  width: 100%;
  background-color: $white;
  padding: 1rem;

  @include sm {
    padding: 1rem;
  }

  .active {
    .nav__menu {
      right: 0%;
    }
    .nav__toggle {
      color: $white;
    }
  }

  .nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      line-height: 1;
      cursor: pointer;
    }
    &__toggle {
      font-size: 1.5rem;
      color: $black;
      cursor: pointer;
      display: none;

      @include md {
        display: block;
        z-index: 5;
      }
    }
  }
}
