.nav__menu {
  @include md {
    position: fixed;
    top: 0;
    right: -75%;
    height: 100vh;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    z-index: 2;
  }

  .nav__list {
    width: auto;
    @include md {
      width: 100%;
    }
  }

  .nav__list .nav__item {
    display: inline-block;

    @include md {
      display: block;
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include md {
        margin-bottom: $m4;
        margin-right: 0;
      }
    }

    .nav__link {
      color: $black;
      text-transform: capitalize;
      display: block;
      text-align: center;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      padding-bottom: $p1;
      letter-spacing: 0.00938em;
      transition: all 0.3s ease-in-out;
      position: relative;

      &::before {
        content: "";
        display: block;
        border-bottom: 2px solid $primary;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: all 0.35s ease-in-out;

        @include md {
          display: none;
        }
      }

      &:hover {
        color: $primary;
      }

      &:hover::before {
        opacity: 1;
      }

      @include md {
        font-size: 1.2rem;
        color: $white;
      }
    }

    .link__active {
      color: $primary;
    }
  }

  .nav__fav {
    display: none !important;

    @include md {
      display: block;
    }
  }
}
